#box1{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    gap: 10px;

}
#box2{
    
    color: blueviolet;
    font-size: larger;
    
}

#box3{
    
    background-color: white;
    font-size: 25px;
    color: aqua;
    border-radius: 3px;
    display: flex;
    gap: 12px;
    padding: 5px;
    
}

#btn1{
    border-left: 1px;
    border-color: whitesmoke;
    padding-left: 8px;
    
    
}
#counter{
    font-weight: bold;
    
}
#btn2{
    border-right: 1px;
    border-color: whitesmoke;
    padding-right: 8px;
}